:root {
  --color-red: #EB5353;
	--color-yellow: #F9D923;
	--color-green: #36AE7C;
	--color-blue: #187498;
	--color-bg: #454372;
	--color-black: #373640;
	--color-white: #F1F5F8;
	overflow-x: hidden;
}

@keyframes pressed {
	from {
		/* transform: rotate(0deg); */
		text-shadow: 0 0 2rem;
	}
	/* 10% { transform: rotate(-1deg); } */
	50% { 
		transform: scale(1.2); 
	}
	/* 90% { transform: rotate(1deg); } */
	to { 
		transform: rotate(0deg); 
		/* transform: scale(0); */
	}
}

body {
	background-color: var(--color-bg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 90vh;
}

h1, h2, h3 {
	font-family: 'Play', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* font-size: min(4rem,10vw); */
	text-align: center;
	color: var(--color-white);
	margin-top: 0.5rem;
	/* text-shadow: 1px 1px var(--color-darkRed); */
}

button.start-game	{
	font-size: 1rem;
	border-style: none;
	box-shadow: .4rem .4rem .4rem;
	margin: 0.5rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	font-family: 'Play', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button.start-game:hover {
	cursor: pointer;
}

button.start-game:active {
	box-shadow: .1rem .1rem .2rem;
	transform: translateY(0.2rem);
}

.gamepad {
	background-color: var(--color-black);
	border-radius: 12%;
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: center;
	margin: min(2rem,3vw);
	padding: min(1rem,1.5vw);
}

.top-row, .bottom-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

div.button {
	margin: min(1rem, 4vw);
}

div.button:hover {
	cursor: pointer;
}

.pressed {
  animation-name: pressed;
	animation-duration: 0.1s;
}

#top-left, #top-right, #bottom-left, #bottom-right {
	font-size: 12rem;
	margin: -1rem 1rem -1rem 1rem;
}

#top-left {
	color: var(--color-red);
}

#top-right {
	color: var(--color-yellow);
}

#bottom-left {
	color: var(--color-green);
}

#bottom-right {
	color: var(--color-blue);
}



.footer {
	font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: var(--color-white);
	text-align: center;
}

.footer a {
	font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: var(--color-white)
}